a:root {
  --background: #171717;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-screen {
  height: 100vh;
}
.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
.email {
  font-weight: 900px;
}

.textTransition {
  opacity: 0; /* Start with opacity 0 */
  transform: translateY(30px); /* Start 20px down */
  animation: fadeUp11 1s forwards; /* Trigger animation */
}

@keyframes fadeUp11 {
  to {
    opacity: 1; /* Fade to full opacity */
    transform: translateY(0); /* Move to original position */
  }
}

.ft {
  color: #004176;
}
.mmm {
  margin-top: 75px;
}

.nav-link {
  position: relative;
  color: black;
  text-decoration: none;
  padding-bottom: 5px; /* Space for the underline */
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* Aligns the underline at the bottom */
  width: 0; /* Initially hidden */
  height: 2px;
  background-color: blue;
  transition: width 0.4s ease-in-out; /* Animation for underline */
}

.nav-link:hover::after {
  width: 100%; /* Full width on hover */
}

.nav-link.active::after {
  width: 100%; /* Full width when active */
}

.wht{
  background-color: white;
}