.h {
  height: 500px;
}
.responsiveImage {
  width: 100%; /* Make the image take full width */
  height: 500px; /* Set a fixed height */
  object-fit: cover; /* Crops from sides while maintaining center */
}
.marg {
  margin-top: 200px;
}

.email {
  font-weight: bolder;
}
